In [1]:
import pandas as pd
import string

In [2]:
movie_frame = pd.read_csv('filter_movies.csv')
movie_frame.head()

,title,Actors,Directors,Poster,vote_count,vote_average,revenue,overview,id
0,Avatar,Sam Worthington | Zoe Saldana | Sigourney Weav...,James Cameron,https://images-na.ssl-images-amazon.com/images...,12114.0,7.2,2787965087,"In the 22nd century, a paraplegic Marine is di...",0
1,Star Wars: The Force Awakens,NaN,NaN,https://images-na.ssl-images-amazon.com/images...,7993.0,7.5,2068223624,Thirty years after defeating the Galactic Empi...,1
2,Titanic,Kate Winslet | Leonardo DiCaprio | Frances Fis...,James Cameron,https://images-na.ssl-images-amazon.com/images...,7770.0,7.5,1845034188,"84 years later, a 101-year-old woman named Ros...",2
3,The Avengers,NaN,NaN,https://images-na.ssl-images-amazon.com/images...,12000.0,7.4,1519557910,When an unexpected enemy emerges and threatens...,3
4,Jurassic World,NaN,NaN,https://images-na.ssl-images-amazon.com/images...,8842.0,6.5,1513528810,Twenty-two years after the events of Jurassic ...,4

In [3]:
def compare(smaller, bigger):
    smaller = str(smaller).translate(str.maketrans('', '', string.punctuation+" ")).lower()
    bigger = str(bigger).translate(str.maketrans('', '', string.punctuation+ " ")).lower()
    return smaller in bigger

In [4]:
list(movie_frame)

['title',
 'Actors',
 'Directors',
 'Poster',
 'vote_count',
 'vote_average',
 'revenue',
 'overview',
 'id']

In [8]:
mask = movie_frame['title'].apply(lambda x: compare('lord', x))
movie_frame[mask].apply(lambda x: [x.title[:10], x.id], axis=1)

15    [The Lord o, 15]
39    [The Lord o, 39]
51    [The Lord o, 51]
dtype: object

In [20]:
class Movie:
    def __init__(self, id, title, actor, director, overview, poster):
        self.id = id
        self.title = title
        self.actor = truncate(actor)
        self.director = truncate(director)
        self.overview = truncate(overview, 200)
        self.poster = poster

def set_movie(x):
    return Movie(x.id, x.title, x.Actors, x.Directors, x.overview, x.Poster)
def truncate(data, n=100):
    data = str(data)
    return (data[:n] + '..') if len(data) > n+2 else data

In [21]:
movie_frame.loc[[4,8,2,7]].apply(set_movie, axis=1)

4    <__main__.Movie object at 0x7fda8f70fb38>
8    <__main__.Movie object at 0x7fda8f70fc18>
2    <__main__.Movie object at 0x7fda8f70fc88>
7    <__main__.Movie object at 0x7fda8f70fcc0>
dtype: object

In [7]:
list(movie_frame.head().Poster)

['https://images-na.ssl-images-amazon.com/images/M/MV5BMTYwOTEwNjAzMl5BMl5BanBnXkFtZTcwODc5MTUwMw@@._V1_UX182_CR0,0,182,268_AL_.jpg',
 'https://images-na.ssl-images-amazon.com/images/M/MV5BOTAzODEzNDAzMl5BMl5BanBnXkFtZTgwMDU1MTgzNzE@._V1_UX182_CR0,0,182,268_AL_.jpg',
 'https://images-na.ssl-images-amazon.com/images/M/MV5BMDdmZGU3NDQtY2E5My00ZTliLWIzOTUtMTY4ZGI1YjdiNjk3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_UX182_CR0,0,182,268_AL_.jpg',
 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_UX182_CR0,0,182,268_AL_.jpg',
 'https://images-na.ssl-images-amazon.com/images/M/MV5BMTQ5MTE0MTk3Nl5BMl5BanBnXkFtZTgwMjczMzk2NTE@._V1_UX182_CR0,0,182,268_AL_.jpg']